* {
  margin: 0;
  padding: 0;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
html {
  line-height: 1.2;
}
body {
  background-color: #f5f5f5;
  color: #333;
  font-family: "Roboto", arial, sans-serif;
  font-size: 16px;
}
.selected-item {
  margin: 20px 0;
  text-align: center;
}
.selected-item p {
  font-size: 18px;
}
.selected-item p span {
  font-weight: bold;
}
/* dropdown list */
.dropdown {
  margin: 20px auto;
  width: 90%;
  position: relative;
  -webkit-perspective: 800px;
          perspective: 800px;
}
.dropdown.active .selLabel:after {
  content: '\25B2';
}.dropdown.active .dropdown-list li {
    display: block;
}

.dropdown > span {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: #fff;
  font-size: 18px;
  letter-spacing: 2px;
  background: #34495e;
  display: block;
  padding: 0 50px 0 30px;
  position: relative;
  z-index: 9999;
  cursor: pointer;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.dropdown > span:after {
  content: '\25BC';
  position: absolute;
  right: 0px;
  top: 15%;
  width: 50px;
  text-align: center;
  font-size: 12px;
  padding: 10px;
  height: 70%;
  line-height: 24px;
  border-left: 1px solid #ddd;
}
.dropdown > span:active {
  -webkit-transform: rotateX(45deg);
          transform: rotateX(45deg);
}
.dropdown > span:active:after {
  content: '\25B2';
}
.dropdown-list {
  /*position: absolute;*/
  top: 0px;
  width: 100%;
}
.show {
    display: block;
}
.hide {
    display: none;
}
.dropdown-list li {
  display: none;
  list-style: none;
  left: 0;
  opacity: 1;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  /*position: absolute;*/
  top: 0;
  width: 100%;
}
.dropdown-list li:nth-child(1) {
  background-color: #1abc9c;
  z-index: 4;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.dropdown-list li:nth-child(2) {
  background-color: #3498db;
  z-index: 3;
  -webkit-transform: translateY(3%);
          transform: translateY(3%);
}
.dropdown-list li:nth-child(3) {
  background-color: #9b59b6;
  z-index: 2;
  -webkit-transform: translateY(6%);
          transform: translateY(6%);
}
.dropdown-list li:nth-child(4) {
  background-color: #e67e22;
  z-index: 1;
  -webkit-transform: translateY(9%);
          transform: translateY(9%);
}
.dropdown-list li span {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  font-size: 18px;
  line-height: 60px;
  padding: 0 30px;
  display: block;
  color: #fff;
  cursor: pointer;
  letter-spacing: 2px;
}

/*更改weui样式*/
.weui_cells {
  margin-top: 0;
}
.weui_cell_hd{
  width: 50px;
  height: 50px;
}
/*放置两个组件*/
.two {
  height: 50px !important;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  left: 80px;
  right: 20px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  color: #888;
}
.weui_cell_primary {
  color: rgb(51, 51, 51);
}
/*链接箭头显示*/
img {
  max-width: 100%;
}

/* 标题栏 */
.svg-ds {
  position: relative;
  z-index: 2;
  background-color: teal;
  -webkit-border-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="64" height="66" viewBox="0,0 64,66"><filter id="dropshadow" height="150%" width="150%"><feGaussianBlur in="SourceAlpha" stdDeviation="2"/><feOffset dx="0" dy="1" result="offsetblur"/><feMerge><feMergeNode/><feMergeNode in="SourceGraphic"/></feMerge></filter><polygon fill="teal" filter="url(#dropshadow)" points="32,3 2,33 32,63 62,33"/></svg>') 27.27273% 26.5625% repeat;
       -o-border-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="64" height="66" viewBox="0,0 64,66"><filter id="dropshadow" height="150%" width="150%"><feGaussianBlur in="SourceAlpha" stdDeviation="2"/><feOffset dx="0" dy="1" result="offsetblur"/><feMerge><feMergeNode/><feMergeNode in="SourceGraphic"/></feMerge></filter><polygon fill="teal" filter="url(#dropshadow)" points="32,3 2,33 32,63 62,33"/></svg>') 27.27273% 26.5625% repeat;
          border-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="64" height="66" viewBox="0,0 64,66"><filter id="dropshadow" height="150%" width="150%"><feGaussianBlur in="SourceAlpha" stdDeviation="2"/><feOffset dx="0" dy="1" result="offsetblur"/><feMerge><feMergeNode/><feMergeNode in="SourceGraphic"/></feMerge></filter><polygon fill="teal" filter="url(#dropshadow)" points="32,3 2,33 32,63 62,33"/></svg>') 27.27273% 26.5625% repeat;
  border-width: 0 0 18px;
  border-style: solid;
  background-clip: padding-box;
  margin-bottom: -18px;

  text-align: center;
  box-sizing: border-box;
  color: white;
  font: bold 0.75em/1.3 sans-serif;
  padding: 1em 2em;
  -webkit-transform: translatez(0);
          transform: translatez(0);
}
.svg-bi {
  /*浮动在上方*/
  position: fixed;
  width: 100%;
  top: 0;
}
.container {
  margin-top: 100px;
}

/* 相册样式 */
.photo-gallery {
  margin: 10px auto;
  padding-left: 20px;
  padding-right: 20px;
}
.photo-gallery img {
  margin: 5px auto;
  width: 100%;
}


/*标题*/
.page_title {
  text-align: center;
  font-size: 34px;
  color: #3cc51f;
  font-weight: 400;
  margin: 0 15%;;
}

.page_desc {
  text-align: center;
  color: #888;
  font-size: 14px;
}
.inner-box {
  width: 90%;
  background: white;
  margin: 20px auto;
}

/* 图片查看 */
#img-view {
  position: fixed;
  z-index: 100;
  display: none;
  background-color: rgba(0,0,0,0.9);
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  overflow: auto;
}

#img-view > img {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
}
